Source: amcl
Section: libs
Priority: optional
Maintainer: David R. Bild <david.bild@xaptum.com>
Build-Depends: debhelper (>= 10), cmake (>= 3.1)
Standards-Version: 3.9.8
Homepage: https://github.com/milagro-crypto-c/milagro-crypto

Package: libamcl4
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, ${misc:Pre-Depends}
Description: Apache Milagro Crypto Library (AMCL) is a standards
 compliant C cryptographic library with no external dependencies,
 specifically designed to support the Internet of Things (IoT).
 .
 This package contains the libraries.

Package: libamcl-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libamcl4 (= ${binary:Version})
Description: Apache Milagro Crypto Library (AMCL) is a standards
 compliant C cryptographic library with no external dependencies,
 specifically designed to support the Internet of Things (IoT).
 .
 This package contains the development files.
